@import url("https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap");

:root {
    /* colors */

    /* neutral */
    --color-active: #26c2ae;
    --color-background-main: #c5e4e7;
    --color-background-second: #00474b;
    --color-background-hover: #9fe8df;
    --color-input-fill: #f3f9fa;
    --color-label-bill: #5e7a7d;
    --color-text-custom: #547878;
    --color-white: #ffffff;
    --color-almost-white: #f4fafa;
    --color-invalid: #e17052;
    --color-delimiter: #7f9d9f;
    --color-button-disabled: #0d686d;

    /* text-size */

    --text-size-small: 13px;
    --text-size-regular: 16px;
    --text-size-middle: 20px;
    --text-size-big: 24px;
    --text-size-large: 48px;

    /* radius */
    --radius-5: 5px;
    --radius-15: 15px;
    --radius-25: 25px;
}

*,
*::before,
*::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html,
body {
    min-height: 100vh;
}

body {
    display: grid;
    place-content: center;
    justify-items: center;
    gap: 87px;
    background: var(--color-background-main);
    font-family: "Space Mono", monospace;
    font-weight: 700;
    font-style: normal;
    font-size: var(--text-size-regular);
    color: var(--color-background-second);
    margin-block-start: 50px;
}

img {
    display: block;
}
/* 
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="number"] {
    -moz-appearance: textfield;
} */

/* input[type="number"] { */
input {
    display: block;
    width: 100%;
    height: 48px;
    font-family: inherit;
    font-weight: inherit;
    color: inherit;
    font-size: var(--text-size-big);
    background-color: var(--color-input-fill);
    border-radius: var(--radius-5);
    padding-block: 6px;
    padding-inline: 17px;
    text-align: end;
    border: 2px solid transparent;
    outline: none;
    caret-color: inherit;
    transition: border-color 0.3s ease;

    &::placeholder {
        color: var(--color-text-custom);
    }

    &:hover {
        transition: border-color 0.1s ease;
        border-color: var(--color-active);
    }

    &:focus {
        border-color: var(--color-active);
    }
}

button {
    border: none;
    outline: none;
    background-color: var(--color-background-second);
    border-radius: var(--radius-5);
    color: var(--color-white);
    font-family: inherit;
    font-weight: inherit;
    font-size: var(--text-size-big);
    cursor: pointer;
    transition: background-color 0.3s ease;

    &:hover {
        transition: background-color 0.1s ease;
        background-color: var(--color-background-hover);
        color: var(--color-background-second);
    }
}

form {
    width: 920px;
    height: 481px;
    background-color: var(--color-white);
    border-radius: var(--radius-25);
    padding: 32px;
    display: flex;
    gap: 32px;
    /* align-items: center; */
    align-items: flex-start;
}

.flx {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

small {
    font-family: inherit;
    font-size: inherit;
    color: var(--color-invalid);
}

.flx {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.half {
    display: flex;
    flex-direction: column;

    width: 100%;
    height: 100%;
    border-radius: var(--radius-15);
}

.display {
    background-color: var(--color-background-second);
    padding: 40px;
    width: 100%;

    & > div {
        display: grid;
        gap: 25px;
    }
}

.calculator {
    gap: 40px;
    padding: 16px;

    label {
        color: var(--color-label-bill);
    }
}

.with-icon {
    display: flex;
    flex-direction: column;
    gap: 6px;

    input {
        padding-inline-start: 30px;
    }
    & > div {
        position: relative;
    }
    & > div::before {
        content: "";
        display: inline-block;
        width: 11px;
        height: 17px;
        background-repeat: no-repeat;
        background-size: contain;
        position: absolute;
        left: 18px;
        top: 50%;
        transform: translateY(-50%);
    }
}

input:invalid {
    border-color: var(--color-invalid);
}

.dollar::before {
    background-image: url("./images/icon-dollar.svg");
}
.person::before {
    background-image: url("./images/icon-person.svg");
}

.tip-buttons {
    display: flex;
    flex-direction: column;
    gap: 16px;
}
.buttons {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 48px;
    row-gap: 16px;
    column-gap: 14px;
}

.buttons input {
    padding-inline: 8px;
    text-align: center;

    &::placeholder {
        text-align: center;
    }
}

.total-numbers {
    color: var(--color-active);
    font-size: var(--text-size-large);
}

.caption {
    color: var(--color-white);
}

.delimiter {
    color: var(--color-delimiter);
    font-size: var(--text-size-small);
}

.tip {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.reset {
    margin-block-start: auto;
    background-color: var(--color-active);
    height: 48px;
    font-size: var(--text-size-middle);
    color: var(--color-background-second);
    text-transform: uppercase;
}

.active {
    background-color: var(--color-active);
    color: var(--color-background-second);
}

.disabled {
    background-color: var(--color-button-disabled);
    &:hover {
        background-color: var(--color-button-disabled);
        cursor: auto;
    }
}

@media (max-width: 925px) {
    :root {
        --text-size-large: 32px;
    }

    body {
        gap: 40px;
    }
    form {
        flex-direction: column;
        max-width: 375px;
        height: 789px;
        gap: 32px;
        padding: 24px;
        justify-content: space-between;
    }
    .buttons {
        grid-template-columns: repeat(2, 1fr);
        gap: 16px;
    }
    .calculator {
        padding: 8px;
        padding-block-end: 0;
        gap: 32px;
        justify-content: center;
    }
    .display {
        padding: 24px;
        & > div {
            gap: 20px;
        }
    }
}
